/* Colors
brown: hsla(37,42%,14%,1)
gold: hsla(37,59%,45%,1)
grey: hsla(0,0%,44%,1)
white: hsla(0,0%,100%,1)
*/

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: hsla(0, 0%, 100%, 1);
}

h1 {
  font-family: halyard-display, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2,
p {
  color: hsla(0, 0%, 44%, 1);
}

aside {
  font-family: halyard-micro, sans-serif;
  font-weight: 200;
  font-style: normal;
}

em {
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.container {
  margin: 0 auto;
  width: 65%;
  max-width: 980px;
}

.container h1 {
  text-align: center;
  font-size: 2rem;
  padding: 1em 0;
}

.container img {
  max-width: 100%;
  margin-bottom: 2rem;
}

.container section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.row-columns {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.column {
}

.column p,
aside {
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.column aside {
  background: hsla(37, 42%, 14%, 1);
  color: hsla(0, 0%, 100%, 1);
  padding: 1em;
}

.col-1 {
  width: 22%;
}

.col-2 {
  width: 47%;
}

.col-3 {
  width: 72%;
}

.fancy {
  color: hsla(37, 59%, 45%, 1);
}

/* Media Queries */

@media (max-width: 1025px) {
  .container {
    width: 100%;
  }
  .container h1 {
    padding: 1rem;
  }
  .container img {
    width: 100%;
    margin: 1rem 0;
  }
  .row-columns {
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0 1rem 0;
  }
  .row-columns p {
    font-size: 1.25rem;
    font-family: halyard-book, sans-serif;
    font-weight: 100;
  }
  .row-columns blockquote {
    font-family: halyard-micro, sans-serif;
    font-weight: 200;
    font-style: normal;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  }
  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
    padding: 0 1rem;
  } /* same as doing .column */
  .column h2 {
    text-align: center;
  }
}
